@import './variables';

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--color-primary, #3a34eb);
  color: white;
  padding: 0.5rem 0;
  position: sticky;
  top: 0;
  z-index: 10;
  height: 90px;
}

.logo {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__picture {
    margin-right: 1rem;
  }

  &__text {
    color: white;
  }
}

.cart {
  display: flex;
  align-items: center;
  cursor: pointer;

  &__icon {
    margin-right: 1rem;
  }

  &__text {
    color: white;
  }
}
