@import './variables';

h1 {
  text-align: center;
  margin: 4rem 0;
}

main {
  margin-bottom: 10rem;
}

.products-grid {
  display: grid;
  max-width: 80%;
  margin: auto;
  justify-items: center;
  grid-template-rows: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 6.8rem;

  &__product {
    box-shadow: 0px 0px 23px -3px rgba(0, 0, 0, 0.75);
    padding: 1.8rem;
    transition: transform 0.3s ease-in-out;
    position: relative;
    cursor: pointer;
    // Fix for moving image when transforming
    backface-visibility: hidden;
    transform: translateZ(0);

    &:hover {
      transform: scale(1.05);

      .products-grid__add-to-cart {
        opacity: 1;
        pointer-events: all;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;

    h3 {
      margin: 0;
      font-size: 1.5rem;
    }

    h3:first-child {
      margin-top: 1rem;
    }

    h3:nth-child(2) {
      margin-top: 0.5rem;
    }
  }

  &__add-to-cart {
    position: absolute;
    right: 0;
    bottom: 25%;
    background-color: var(--color-primary, #3a34eb);
    border-radius: 0.3rem;
    text-align: center;
    padding: 0.5rem;
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    transition: opacity 0.3s ease, background-color 0.3s ease;

    &:hover {
      background-color: #4e48f0;
    }

    h3 {
      margin: 0.5rem 0 0 0;
      color: white;
    }
  }
}
